<?php

/*
 * Fill in the settings below and rename this file to settings.php.
 */

define('DB_HOST', '');
define('DB_USER', '');
define('DB_PASSWORD', '');
define('DB_NAME', '');

# Specify how many records to insert into the database at a time.
define('BATCH_SIZE', 100000);

# Don't change this.
define('ONE_MILLION', 1000000);